*{
    margin: 0px;
    padding: 0px;
    
}

.social{
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000; /*Arratra hasta adelante*/
}

.social ul{
    list-style: none;
}
.social ul li a{
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    background-color: #000;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.social ul li .icon-facebook{
    background: #3b5998 ;
}
.social ul li .icon-twitter{
    background: #00abf0 ;
}
.social ul li .icon-linkedin{
    background: #1bb9d1 ;
}
.social ul li .icon-github{
    background: rgb(204, 197, 197);
}
.social ul li .icon-mail{
    background:#666666 ;
}

.social ul li a:hover{
    padding: 10px 20px;
    background: #000;
}
@media (max-width: 600px) {
    .social {
      display: none;
    }
  }
